# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.dSYM

*.txt
*.log
*.pdf
*.plist
.vscode
webserv
*.conf

www/usrimg/*
!www/usrimg/no-bedbugs.jpg

__pycache__
env
media